<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Photo-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="signup" class="nav-link">{{'S\'inscrire' | translate}}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">{{'Se connecter'| translate}}</a>
        </li>
      </ul>


      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-cog"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a (click)="switchLanguage('en')" class="dropdown-item">
            <img src="../../../assets/flags/en.png" class="lang-icon" alt=""> en
          </a>

          <a (click)="switchLanguage('fr')" class="dropdown-item">
            <img src="../../../assets/flags/fr.png" alt=""> fr
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>
