<div class="row">

  <!-- BERTRAND LOGO
  <div class="col-md-4">
    <img src="../../../assets/logo.jpg" alt="">
  </div>
-->


  <div class=" col-md-4 offset-md-8 mt-5">
    <div class="card card-body">

      <h3 class="text-center">{{'Se connecter' | translate }}</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="{{'Mot de passe' | translate}}" aria-label="Password" aria-describedby="basic-addon1">
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">{{'Se souvenir de moi'| translate }}</label>
      </div>

      <button type="submit" class="btn btn-primary">{{'Se Connecter' | translate}}</button>

      <a routerLink="signup" class="text-center mt-3">{{'Creer un compte' | translate }}</a>
      <a href="#" class="text-center mb-3">{{'Ou' | translate}} {{'Se connecter' | translate}} {{'avec' | translate}}</a>
      <!--
        <div>
          <a href="#">
            <img src="../assets/facebook.png" alt="Facebook login ..." class="img-fluid">
          </a>
          <a href="#">
            <img src="../assets/gmail.png" alt="Gmail login ..." class="mt-2 img-fluid">
          </a>
        </div>
      -->

      <div>
        <span>
          <button type="button" class="btn btn-block fa-facebook-custom mb-1">
            <i class="fa fa-facebook "></i> Facebook</button>
        </span>

        <span>
          <button type="button" class="btn btn-block  fa-google-custom ">
            <i class="fa fa-google-plus"></i> Google +</button>
        </span>
      </div>


    </div>
  </div>
