<body id="home">

  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">

            <div class="col-lg-5 m-auto">
              <div class="card card-form text-center p-4">
                <div id="avatar-radius">
                  <img class="my-avatar img-rounded" src="../../../assets/homeBackground/avatar.png" alt="Card image cap">
                </div>

                <div class="card-body">

                  <h3 class="text-center">{{'Se connecter' | translate }}</h3>

                  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="text-left">


                    <label for="Username" class="text-white ">{{'Identifiant' | translate}}</label>
                    <div class="mb-3 inner-addon left-addon">
                      <i class="fa fa-envelope" aria-hidden="true"></i>


                      <input type="email" placeholder="Email" [(ngModel)]="user.email" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
                        class="form-control" name="email" #userEmail="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                        aria-label="Email" aria-describedby="basic-addon1">

                      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback font-weight-bold error-color">
                        {{'L\' email est obligatoire'| translate}}
                      </div>

                      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback font-weight-bold error-color">
                        {{'L\'email n\'est pas valide'| translate }}
                      </div>
                    </div>



                    <label for="Password" class="text-white">{{'Mot de passe'| translate}}</label>
                    <div class="mb-3 inner-addon left-addon">
                      <i class="fa fa-unlock-alt" aria-hidden="true"></i>


                      <input type="password" placeholder="{{'Mot de passe' | translate}}" [(ngModel)]="user.password" [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}"
                        class="form-control" name="password" #userPassword="ngModel" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                        aria-label="Password" aria-describedby="basic-addon1">
                      <div [hidden]="!userPassword.errors?.required" class="invalid-feedback font-weight-bold error-color">
                        {{'Le mot de passe est obligatoire' | translate }}
                      </div>

                      <div [hidden]="!userPassword.errors?.pattern" class="invalid-feedback font-weight-bold error-color">
                        {{'Le mot de passe doit contenit au moins une majuscule, une minuscule , un chiffre et un caractère spéciale' | translate
                        }}
                      </div>

                    </div>

                    <div class="form-check mb-2">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">{{'Se souvenir de moi'| translate }}</label>
                    </div>


                    <button [disabled]="!loginForm.form.valid" class="btn btn-block mb-3" [ngClass]="{'btn-primary': loginForm.form.valid }">{{'Se Connecter' | translate}}</button>
                  </form>

                  <a href="#" class="text-center text-white">{{'Ou' | translate}}</a>


                  <div class="text-white mt-2">
                    <span>
                      <button type="button" (click)="auth.login()" class="btn btn-block fa-google-custom mb-1">
                        <span class="min-size">Connection via les reseaux sociaux</span>
                      </button>
                    </span>
                    <hr class="mx-5 mt-3 mb-0">

                    <a routerLink="signup" class="text-center text-white text-bold">{{'Creer un compte' | translate }}</a>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <ul class="display-langugage">
    <li>
      <button type="button" (click)="toggleLanguage()" class="btn btn-secondary language-btn m-5 pulse-button">
        <i class="fa fa-language"></i>
      </button>
    </li>

    <li *ngIf="show">
      <button type="button" (click)="toggleLanguage()" class="btn  btn-sm fixed-button-1 m-5 ">
        <a (click)="switchLanguage( 'en') " class="dropdown-item m-0 p-0 ">
          <img src="../../../assets/flags/en.png " class="lang-icon " alt="En">
        </a>
      </button>
    </li>


    <li *ngIf="show">
      <button type="button" (click)="toggleLanguage()" class="btn btn-sm fixed-button-2 m-5">
        <a (click)="switchLanguage( 'fr') " class="dropdown-item m-0 p-0">
          <img src="../../../assets/flags/fr.png " alt="Fr">
        </a>
      </button>
    </li>
  </ul>

</body>
