body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #00e8d6 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url("../../../assets/homeBackground/home.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* min-height: 760px;*/
  height: 100vh;
}

#home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* min-height: 700px;*/
  height: 100vh;
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

.fa-style {
  color: #00e8d6;
  background: #fff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px;
}

.fa-facebook-custom {
  background: #3B5998;
  color: white;
}

/* google plus */

.fa-google-custom {
  background: #DD4B39;
  color: white;
}

.card {
  border: solid 1px dark;
  border-radius: 5px;
  box-shadow: 6px 4px 10px #000000;
}
