#home-section {
  background: url("../../../assets/profile/wall/wall-03.jpg");
  background-size: cover;
  min-height: 55vh;
  width: 100%;
  overflow: hidden;
}

#home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 55vh;
  margin-top: 55px;
}

#home-section .home-inner {
  padding-top: 150px;
}

hr {
  border-top: 1px solid white;
}

.profil-stat {
  color: rgb(192, 192, 192);
}

.gallery {
  position: absolute;
  margin-top: 500px;
}

.profil-text-md {
  font-size: 2rem;
}

.profil-text-sm {
  font-size: 1rem;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin-top: -8%;
  margin-right: 15%;
}

.my-button-2 {
  margin-right: 10% !important;
  margin-left: 5%;
}

i {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 700px) {
  .btn-circle.btn-lg {
    margin-top: -18%;
    margin-right: 0%;
  }
  #home-section {
    min-height: 62vh;
  }
}

@media (min-width: 710px) and (max-width: 1000px) {
  #home-section {
    min-height: 61vh;
  }
}

@media (min-width: 976px) and (max-width: 1100px) {
  .btn-circle.btn-lg {
    margin-top: -18%;
    margin-right: 0%;
  }
  #home-section {
    min-height: 59vh;
  }
}

@media (min-width: 1102px) {
  .img-thumbnail {
    height: 235px;
    margin-bottom: 15px;
  }
}
