<div id="home-section" class="pt-3">
  <div class="dark-overlay">
    <div class="home-inner">
      <!--img src="../../../assets/profile/wall/wall-01.jpg" alt="" class="img-responsive"-->
      <!-- test -->
      <div class="container ">
        <!-- profil section -->
        <div class="row ">
          <div class="col-md-3 pl-5">
            <img src="../../../assets/photo-board-img/icon03.jpg" alt="icon" class=" img-fluid  rounded-circle  pull-left my-icon ml-5">
          </div>
          <div class="col-md-6 text-white">
            <div class="profil-text-md">Rebecca Carlton
              <span class="profil-text-sm">@Rebbecca255</span>
            </div>
            <div class="profil-text-sm">
              <i class="fa fa-map-marker mr-3  "></i> {{'Afrique du Sud'|translate}}</div>
            <div class="profil-text-sm">Description :
              <span class="profil-text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, culpa?</span>
            </div>
          </div>
        </div>

        <!-- row 2 -->
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <div class="profil-stat">
              <hr class="my-bar">
              <ul class="list-inline">
                <li class="list-inline-item mr-5" data-toggle="collapse" data-target="#collapsePhotos" aria-expanded="false" aria-controls="collapsePhotos">

                  <a class="">
                    <div class="font-weight-bold text-center">39</div>
                    <div class="font-weight-bold">Photos</div>
                  </a>

                </li>
                <li class="list-inline-item mr-5" data-toggle="collapse" data-target="#collapseFriends" aria-expanded="false" aria-controls="collapseFriends">

                  <a class="">
                    <div class="font-weight-bold text-center">100K</div>
                    <div class="font-weight-bold">{{'Amis'|translate}}</div>
                  </a>

                </li>
                <li class="list-inline-item mr-5" data-toggle="collapse" data-target="#collapseFollowers" aria-expanded="false" aria-controls="collapseFollowers">

                  <a class="">
                    <div class="font-weight-bold text-center">300K</div>
                    <div class="font-weight-bold">{{'Abonnés'|translate}}</div>
                  </a>

                </li>
                <li class="list-inline-item mr-5" data-toggle="collapse" data-target="#collapseGroups" aria-expanded="false" aria-controls="collapseGroups">

                  <a class="">
                    <div class="font-weight-bold text-center">5</div>
                    <div class="font-weight-bold">{{'Groupes'|translate}}</div>
                  </a>

                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- /row2 -->
        <!-- /test -->
      </div>
    </div>
  </div>


  <!-- gallery -->
  <section>
    <div class=" gallery ml-5 mr-5">
      <!-- buttons -->
      <!-- modal button -->
      <a class="pull-right btn btn-secondary btn-circle btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">
        <i class="fa fa-cog"></i>
      </a>

      <a class="pull-right btn btn-primary btn-circle btn-lg my-button-2" (click)="onLoadResizeMap()" data-toggle="modal" data-target="#upload-modal">
        <i class="fa fa-upload"></i>
      </a>
      <!-- /buttons -->

      <!-- accordion -->
      <div id="accordion">
        <div class="collapse show " id="collapseGroups" data-parent="#accordion">
          <div>
            <a href="#" class="btn btn-outline-success   ml-5 mt-5" data-toggle="modal" data-target=".create-group-modal">Creer un groupe</a>
          </div>

          <div class="row m-5">
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/pexels-photo-185933.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Clermonteck</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/profile/01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">BMKD</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/photo-board-img/img02.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Project M1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/photo-board-img/img.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Team Master</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row ml-5 mr-5 mb-5 mt-0">
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/photo-board-img/img01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">LavaJug</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/photo-board-img/icon01.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">API Hour</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/profile/02.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">United KingDom</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/profile/03.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Barcelona</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Rejoindre</a>
                  <a href="#" class="btn btn-danger">Quitter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse " id="collapseFriends" data-parent="#accordion">
          <div class="card card-body">
            collapseFriends collapseFriends collapseFriends
          </div>
        </div>
        <div class="collapse " id="collapseFollowers" data-parent="#accordion">
          <div class="card card-body">
            collapseFollowers collapseFollowers collapseFollowers
          </div>
        </div>
        <div class="collapse  " id="collapsePhotos" data-parent="#accordion">
          <div class="card card-body">
            <div class="row ml-5 mr-5">
              <div class="col-md-3">
                <img src="../../../assets/photo-board-img/img02.jpg" alt="icon" class="img-fluid img-thumbnail tn">
              </div>
              <div class="col-md-3">
                <img src="../../../assets/photo-board-img/img.jpg" alt="icon" class=" img-fluid img-thumbnail tn">
              </div>
              <div class="col-md-3">
                <img src="../../../assets/photo-board-img/img01.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
              </div>
              <div class="col-md-3">
                <img src="../../../assets/photo-board-img/icon01.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
              </div>
            </div>



            <div class="row ml-5 mr-5">
              <div class="col-md-3">
                <img src="../../../assets/profile/01.jpg" alt="icon" class=" img-fluid img-thumbnail tn ">
              </div>
              <div class="col-md-3">
                <img src="../../../assets/profile/02.jpg" alt="icon" class=" img-fluid img-thumbnail tn">
              </div>
              <div class="col-md-3">
                <img src="../../../assets/profile/03.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
              </div>
              <div class="col-md-3">
                <img src="../../../assets/photo-board-img/icon02.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- / accordion -->
  <!-- /gallery -->


  <!-- setting modal -->
  <div class="modal fade bd-example-modal-lg setting-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{'Editer mon profil'|translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- test -->
          <div class="container">
            <form>
              <div class="form-group row">
                <label for="lastname" class="col-sm-3 col-form-label">
                  <i class="fa fa-user mr-2"></i> {{'Nom'|translate}}</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="lastname" placeholder="{{'Changer le nom'|translate}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="firstname" class="col-sm-3 col-form-label">
                  <i class="fa fa-user-circle mr-2"></i>{{'Prenom'|translate}} </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="firstname" placeholder="{{'Changer le prenom'|translate}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="pseudo" class="col-sm-3 col-form-label">
                  <i class="fa fa-eye mr-2"></i>{{'Pseudo'|translate}} </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="pseudo" placeholder="{{'Changer le pseudo'|translate}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="Password" class="col-sm-3 col-form-label">
                  <i class="fa fa-venus-mars mr-2"></i>{{'Sexe'| translate}}</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>{{'Homme'| translate}}</option>
                    <option>{{'Femme'| translate}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="Password" class="col-sm-3 col-form-label">
                  <i class="fa fa-lock mr-2"></i>{{'Mot de passe' |translate}}</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="Password" placeholder="{{'Nouveau mot de passe' | translate}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="CfPassword" class="col-sm-3 col-form-label">
                  <i class="fa fa-exclamation-triangle mr-2"></i>{{'Confirmation' | translate}} </label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="CfPassword" placeholder="{{'Confirmer mot de passe' | translate}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="biographie" class="col-sm-3 col-form-label">
                  <i class="fa fa-address-card mr-2"></i>{{'Biographie'|translate}} </label>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" id="textarea" rows="3"></textarea>
                </div>
              </div>

            </form>

          </div>
          <!-- /test -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">{{'Enregistrer'|translate}}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Annuler'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /setting modal -->

  <!-- file upload modal -->
  <div class="modal fade bd-example-modal-lg" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{'Publier une photo'|translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">{{'Choisir une photo'|translate}}</label>
              <!-- Drag and drop zone -->
              <image-upload buttonCaption="{{'Choisir une photo'|translate}}" dropBoxMessage="{{'Ou Glisser votre image içi'|translate}}"
                clearButtonCaption="Effacer" (change)="onUploadButton($event)" (uploadFinished)="onDragAndDrop($event)">
              </image-upload>
              <!-- /Drag and drop zone -->
            </div>

            <!-- Map Zone -->
            <div class="container ">
              <div class="form-group">
                <input placeholder="{{'Ajouter un lieu'|translate}}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                  class="form-control" #search [formControl]="searchControl">
              </div>
              <agm-map #myMap [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
              </agm-map>
            </div>
            <!-- /Map Zone  -->
            <div class="form-group">
              <label for="message-text" class="col-form-label">{{'Légende'|translate}}:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Annuler'| translate}}</button>
          <button type="button" class="btn btn-primary" (click)="onUploadFile()">{{'Publier'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <!--/ file upload modal -->

  <!-- create group modal -->
  <div class="modal fade bd-example-modal-lg create-group-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Creer un groupe</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="container">
            <form>
              <div class="form-group row">
                <label for="groupName" class="col-sm-3 col-form-label">
                  <i class="fa fa-user mr-2"></i> Nom du groupe</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="groupName" placeholder="Choisir le nom du groupe">
                </div>
              </div>

              <div class="form-group row">
                <label for="type-of-group" class="col-sm-3 col-form-label">
                  <i class="fa fa-venus-mars mr-2"></i>Type du groupe</label>
                <div class="col-sm-9">
                  <select class="form-control">
                    <option>Privée</option>
                    <option>Publique</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="group-photo" class="col-sm-3 col-form-label">
                  <i class="fa fa-user mr-2"></i>Photo du groupe</label>
                <div class="col-sm-9">
                  <!-- Drag and drop zone -->
                  <image-upload buttonCaption="{{'Choisir une photo'|translate}}" dropBoxMessage="{{'Ou Glisser votre image içi'|translate}}"
                    clearButtonCaption="Effacer" (change)="onUploadButton($event)" (uploadFinished)="onDragAndDrop($event)">
                  </image-upload>
                  <!-- /Drag and drop zone -->
                </div>
              </div>

              <div class="form-group row">
                <label for="group-info" class="col-sm-3 col-form-label">
                  <i class="fa fa-address-card mr-2"></i>{{'Description'|translate}} </label>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" id="group-info" rows="3"></textarea>
                </div>
              </div>

            </form>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">{{'Enregistrer'|translate}}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Annuler'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /create group modal -->
