#home-section {
  background: url("../../../assets/profile/wall/wall-03.jpg");
  background-size: cover;
  min-height: 55vh;
  width: 100%;
  overflow: hidden;
}

#home-section .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 55vh;
  margin-top: 55px;
}

#home-section .home-inner {
  padding-top: 150px;
}

hr {
  border-top: 1px solid white;
}

.profil-stat,
.profil-stat a {
  color: rgb(192, 192, 192);
}

.profil-stat li:hover,
.profil-stat a:active,
.profil-stat a:hover {
  color: #007bff !important;
  text-decoration: none;
  cursor: pointer;
}

.gallery {
  position: absolute;
  margin-top: 500px;
}

.profil-text-md {
  font-size: 2rem;
}

.profil-text-sm {
  font-size: 1rem;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  margin-top: -8%;
  margin-right: 15%;
}

.my-button-2 {
  margin-right: 10% !important;
  margin-left: 5%;
}

i {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 700px) {
  .btn-circle.btn-lg {
    margin-top: -18%;
    margin-right: 0%;
  }
  #home-section {
    min-height: 62vh;
  }
}

@media (min-width: 710px) and (max-width: 1000px) {
  #home-section {
    min-height: 61vh;
  }
}

@media (min-width: 976px) and (max-width: 1100px) {
  .btn-circle.btn-lg {
    margin-top: -18%;
    margin-right: 0%;
  }
  #home-section {
    min-height: 59vh;
  }
}

@media (min-width: 1102px) {
  .img-thumbnail {
    height: 235px;
    margin-bottom: 15px;
  }
}

agm-map {
  height: 300px;
}

.hide-it {
  display: none;
}

.pac-container {
  z-index: 1054 !important;
}

.setting-modal i {
  color: silver;
}

.setting-modal .modal-header {
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#upload-modal .modal-header,
#upload-modal .modal-footer {
  background: #1488CC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

table .img-thumbnail {
  height: 90px;
  margin-bottom: 0px;
}
