<div id="home-section" class="pt-3">
  <div class="dark-overlay">
    <div class="home-inner">
      <!--img src="../../../assets/profile/wall/wall-01.jpg" alt="" class="img-responsive"-->
      <!-- test -->
      <div class="container ">
        <!-- profil section -->
        <div class="row ">
          <div class="col-md-3">
            <img src="../../../assets/photo-board-img/icon03.jpg" alt="icon" class=" img-fluid  rounded-circle  pull-left my-icon ">
          </div>
          <div class="col-md-6 text-white">
            <div class="profil-text-md">Rebecca Carlton
              <span class="profil-text-sm">@Rebbecca255</span>
            </div>
            <div class="profil-text-sm">
              <i class="fa fa-map-marker mr-3  "></i> South Africa</div>
            <div class="profil-text-sm">Description :
              <span class="profil-text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, culpa?</span>
            </div>
          </div>
        </div>

        <!-- row 2 -->
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <div class="profil-stat">
              <hr class="my-bar">
              <ul class="list-inline">
                <li class="list-inline-item mr-5">
                  <div class="font-weight-bold text-center">39</div>
                  <div class="font-weight-bold">Photo</div>
                </li>
                <li class="list-inline-item mr-5">
                  <div class="font-weight-bold text-center">100K</div>
                  <div class="font-weight-bold">Amis</div>
                </li>
                <li class="list-inline-item mr-5">
                  <div class="font-weight-bold text-center">300K</div>
                  <div class="font-weight-bold">Abonnées</div>
                </li>
                <li class="list-inline-item mr-5">
                  <div class="font-weight-bold text-center">5</div>
                  <div class="font-weight-bold">Groupes</div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- /row2 -->
        <!-- /test -->
      </div>
    </div>
  </div>

  <!-- gallery -->
  <section>
    <div class=" gallery ml-5 mr-5">
      <div class="row">
        <div class="col-md-3">
          <img src="../../../assets/photo-board-img/img02.jpg" alt="icon" class="img-fluid img-thumbnail tn">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/photo-board-img/img.jpg" alt="icon" class=" img-fluid img-thumbnail tn">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/photo-board-img/img01.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/photo-board-img/icon01.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
        </div>
      </div>



      <div class="row ">
        <div class="col-md-3">
          <img src="../../../assets/profile/01.jpg" alt="icon" class=" img-fluid img-thumbnail tn ">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/profile/02.jpg" alt="icon" class=" img-fluid img-thumbnail tn">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/profile/03.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
        </div>
        <div class="col-md-3">
          <img src="../../../assets/photo-board-img/icon02.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
        </div>
      </div>
    </div>
  </section>
  <!-- /gallery -->
