<div class="container mt-5">
  <!-- profil section -->
  <div class="row ml-5 mr-5 mb-4">
    <div class="col-md-3">
      <img src="../../../assets/photo-board-img/icon03.jpg" alt="icon" class=" img-fluid  rounded-circle  pull-left my-icon  mr-2">
    </div>
    <div class="col-md-6">

      <div class="mb-2 profil-font">
        <span class="font-weight-bold profilName">Marie Delcours</span>
        <a href="#" class="btn  btn-outline-primary text-center ml-5">Edit Profil</a>
      </div>

      <div class="mb-2">
        <ul class="list-inline">
          <li class="list-inline-item mr-4">
            <span class="font-weight-bold">39</span> photo</li>
          <li class="list-inline-item mr-4">
            <span class="font-weight-bold">100</span> amis</li>
          <li class="list-inline-item mr-4">
            <span class="font-weight-bold">95</span> abonnés</li>
          <li class="list-inline-item mr-4">
            <span class="font-weight-bold">4</span> groupes</li>
        </ul>
      </div>

      <div class="mb-2">
        <span class="font-weight-bold mr-2">@Marie254</span>
        <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, repellendus?</span>
      </div>
    </div>
  </div>
  <!-- / profil section -->

  <!-- photo gallery  -->
  <div class="row ml-5 mr-5 mb-3">
    <div class="col-md-4">
      <img src="../../../assets/photo-board-img/img02.jpg" alt="icon" class="img-fluid img-thumbnail tn">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/photo-board-img/img.jpg" alt="icon" class=" img-fluid img-thumbnail tn">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/photo-board-img/img01.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
    </div>
  </div>



  <div class="row ml-5 mr-5">
    <div class="col-md-4">
      <img src="../../../assets/profile/01.jpg" alt="icon" class=" img-fluid img-thumbnail tn ">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/profile/02.jpg" alt="icon" class=" img-fluid img-thumbnail tn">
    </div>
    <div class="col-md-4">
      <img src="../../../assets/profile/03.jpg" alt=" icon " class=" img-fluid img-thumbnail tn">
    </div>
  </div>
  <!-- /photo gallery -->
  <!--
  <div *ngFor="let item of userReceveid">
    {{item.firstname}} {{item.lastname}}
  </div>
-->
</div>
