<div class="container">
  <div class="card mt-3 mb-3">
    <!-- Header -->
    <div class="card-header">

      <div class="row">
        <div class="col-md-6  text-left">
          <img src="../../../assets/photo-board-img/icon02.jpg" alt="icon" class=" img-fluid  rounded-circle  pull-left my-icon  mr-2">
          <h5 class=" ">John Doe</h5>
          <h5 class="text-muted ">@UserPseudo</h5>

        </div>
        <div class="col-md-6   text-right">
          <h6 class="text-muted  ">en ligne il y a 3 minutes</h6>
          <h6 class="text-muted ">Los Angeles
            <i class="fa fa-map-marker"></i>
          </h6>
        </div>
      </div>

      <!-- Photo description -->
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque placeat dolorum, itaque libero error quisquam dolore
        ipsum ex autem. Sapiente voluptates voluptatibus quos laboriosam .</div>
    </div>
    <!-- /Photo description -->

    <!-- /Header -->

    <div class=" card-body ">
      <img src="../../../assets/photo-board-img/img.jpg " alt="userphoto " class="img-fluid p-0 ">
    </div>


    <div class="card-footer text-muted ">

      <div>
        <span class="ml-2 mr-3">
          <i class="fa fa-heart"></i> 2K
        </span>
        <span class="">
          <i class="fa fa-comment"></i> 55
        </span>
        <span class=" mr-2 pull-right">
          <i class="fa fa-share-alt"></i>
        </span>
      </div>

      <!-- Comments  -->
      <div>
        <div class="ml-2">
          <span class="font-weight-bold">bertrand ndayisenga</span>
          <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </span>
        </div>
        <div class="ml-2">
          <span class="font-weight-bold">david keney</span>
          <span>Lorem ipsum dolor sit ametipsum dolor ipsum dolor consectetur .</span>
        </div>
        <div class="ml-2">
          <span class="font-weight-bold">marie pimpy</span>
          <span>ipsum dolor ipsum dolor sit amet .</span>
        </div>
      </div>
      <!-- /Comments -->

    </div>
  </div>
</div>
