<nav class="navbar navbar-expand-md navbar-dark bg-primary" *ngIf="!auth.isAuthenticated()">

  <div class=" container ">
    <a routerLink="/home" class="navbar-brand ">Photo-App</a>

    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarMain ">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarMain ">

      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ">
          <a routerLink="/signup" *ngIf="!auth.isAuthenticated()" class="nav-link ">{{'S\'inscrire' | translate}}</a>
        </li>
        <li class="nav-item ">
          <a routerLink="/home" *ngIf="!auth.isAuthenticated()" class="nav-link ">{{'Se connecter'| translate}}</a>
        </li>
      </ul>


      <div class="dropdown ">

        <button class="btn btn-primary dropdown-toggle " type="button " id="dropdownMenuButton " data-toggle="dropdown" aria-haspopup="true "
          aria-expanded="false ">
          <i class="fa fa-cog "></i>
        </button>

        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton ">
          <a (click)="switchLanguage( 'en') " class="dropdown-item ">
            <img src="../../../assets/flags/en.png " class="lang-icon " alt=" "> en
          </a>

          <a (click)="switchLanguage( 'fr') " class="dropdown-item ">
            <img src="../../../assets/flags/fr.png " alt=" "> fr
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>




<div class="container mt-5">
  <div class="card card-body mb-3">
    <h2>{{'Inscription' | translate }}</h2>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <!-- Name -->
      <div class="form-row">
        <div class="form-group col-md-6 ">
          <label>{{'Nom'|translate}}</label>
          <input type="text" [(ngModel)]="newUser.lastName" [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
            class="form-control" name="lastName" #userLastName="ngModel" required minlength="2">
          <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
            {{'Le nom est obligatoire'|translate}}
          </div>

          <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
            {{'Le nom doit être de au moins 2 caractères' | translate }}
          </div>
        </div>

        <div class="form-group col-md-6">
          <label>{{'Prenom' | translate}}</label>
          <input type="text" [(ngModel)]="newUser.firstName" [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
            class="form-control" name="firstName" #userFirstName="ngModel" required minlength="2">
          <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
            {{'Le prenom est obligatoire' | translate }}
          </div>

          <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
            {{'Le prenom doit être de au moins 2 caractères' |translate }}
          </div>
        </div>
      </div>
      <!-- /name -->
      <!-- Birthdate -->
      <div class="form-group" novalidate>
        <label>{{'Date de naissance'| translate}}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="newUser.birthdateInfo" [ngClass]="{'is-invalid':userBirthDate.errors && userBirthDate.touched}"
          class="form-control" name="birthdate" #userBirthDate="ngModel" required></my-date-picker>

        <div [hidden]="!userBirthDate.errors?.required" class="invalid-feedback">
          {{'La date est obligatoire'|translate}}.
        </div>
      </div>
      <!-- /Birthdate -->
      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="newUser.email" [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}" class="form-control"
          name="email" #userEmail="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
        <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
          {{'L\' email est obligatoire'| translate}}
        </div>

        <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
          {{'L\'email n\'est pas valide'| translate }}
        </div>
      </div>
      <!-- /Email -->
      <!-- Password -->
      <div class="form-group">
        <label>{{'Mot de passe' | translate}}</label>
        <input type="password" [(ngModel)]="newUser.password" [ngClass]="{'is-invalid':userPassword.errors && userPassword.touched}"
          class="form-control" name="password" #userPassword="ngModel" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$">
        <div [hidden]="!userPassword.errors?.required" class="invalid-feedback">
          {{'Le mot de passe est obligatoire' | translate }}
        </div>

        <div [hidden]="!userPassword.errors?.pattern" class="invalid-feedback">
          {{'Le mot de passe doit contenit au moins une majuscule, une minuscule , un chiffre et un caractère spéciale' | translate
          }}
        </div>
      </div>
      <!-- /Password -->
      <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3" [ngClass]="{'btn-primary': userForm.form.valid && true}">{{'Je m\'inscris' | translate}}</button>
    </form>
  </div>
</div>
